# Deliverable 2. Create a Customer Travel Destinations Map.
----
1. Create a folder called `Vacation_Search` to save all the files related with this deliverable.

2. Download the `Vacation_Search_starter_code.ipynb` Jupyter notebook,save it into your `Vacation_Search folder`, and rename it as `Vacation_Search.ipynb`.

3. In the `Vacation_Search.ipynb` file, ensure that the dependencies and the Google API key is imported correctly.

4. From the `Weather_Database` folder you created in the "Deliverable 1," import the `WeatherPy_Database.csv` file as a Pandas DataFrame named `city_data_df`.

5. Write two input statements that prompt the user to enter their minimum and maximum temperature criteria for their vacation.

6. Create a new Pandas DataFrame by using the `loc` Pandas method to filter the `city_data_df` DataFrame for temperature criteria  collected. Name the DataFrame as `preferred_cities_df`.

7. Create a new Pandas DataFrame named `clean_travel_cities` by using the Pandas `dropna` function on the `preferred_cities_df` to drop any empty rows.

8. Use the `copy` Pandas function to create a new DataFrame, called `hotel_df`, by copying the following columns from the `clean_travel_cities` DataFrame: "City", "Country", "Max Temp", "Current Description", "Lat", "Lng".

9. Add a new empty column named `Hotel Name` to the `hotel_df` DataFrame.

10. Review the hotel search parameters provided. These parameters are the same we used in this module; you'll use them to search for a hotel for each city.

11. Use a for loop to iterate through the `hotel_df` DataFrame, retrieve the latitude and longitude of each city to find the nearest hotel based on the search parameters provided, then add the hotel name to the `hotel_df` DataFrame. If a hotel isn't found, skip to the next city.

12. Drop any rows in the `hotel_df` DataFrame where a hotel name is not found and store the resulting data into a new DataFrame named `clean_hotel_df`.

13. Create an CSV file to store the `clean_hotel_df` DataFrame as `WeatherPy_vacation.csv` in the Vacation_Search folder.

14. Review the formatting template provided that you'll use to add an information box to each marker in the map. In the pop-up for each city you'll add:

    1. The city name.

    2. The country code.

    3. The weather description and maximum temperature for the city.

15. Review the provided list comprehension code to retrieve the city data from each row, which will then be added to the formatting template and saved in the `hotel_info` list.

16. Use the provided code snippet to retrieve the latitude and longitude from each row and store them in a new DataFrame called `locations`.

17. Refactor your previous marker layer map code to create a marker layer map that will have pop-up markers for each city on the map.

18. Take a screenshot of your map and save it to the `Vacation_Search` folder as `WeatherPy_vacation_map.png`.
---

## Ensure that the dependencies and the Google API key is imported correctly.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import Google API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

## From the `Weather_Database` folder you created in the "Deliverable 1," import the `WeatherPy_Database.csv` file as a Pandas DataFrame.

In [3]:
# Set the file path to import the WeatherPy_database.csv file
file_path = "../Weather_Database/WeatherPy_database.csv"

# Load the CSV file into a Pandas DataFrame
city_data_df = pd.read_csv(file_path)

# Display sample data
city_data_df.head(10)
#city_data_df.describe()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Yulara,AU,-25.2406,130.9889,76.41,41,92,9.48,overcast clouds
1,1,Hasaki,JP,35.7333,140.8333,86.29,68,55,24.36,broken clouds
2,2,Butaritari,KI,3.0707,172.7902,82.09,71,49,14.29,scattered clouds
3,3,Punta Arenas,CL,-53.1500,-70.9167,42.91,81,75,6.91,broken clouds
4,4,Busselton,AU,-33.6500,115.3333,63.01,60,0,13.65,clear sky
5,5,Butembo,CD,0.1500,29.2833,58.96,92,100,1.81,overcast clouds
6,6,Lorengau,PG,-2.0226,147.2712,86.05,68,63,11.32,broken clouds
7,7,Tuy Hoa,VN,13.0833,109.3000,78.73,90,100,7.00,overcast clouds
8,8,Chui,UY,-33.6971,-53.4616,53.96,64,90,7.76,overcast clouds
9,9,Fort Nelson,CA,58.8053,-122.7002,40.59,75,20,0.00,few clouds

## Write two input statements that prompt the user to enter their minimum and maximum temperature criteria for their vacation.

In [4]:
# Prompt the user to enter the minimum temperature criteria
min_temp = float(input("What is the minimum value for the max temperature you'd like?"))

# Prompt the user to enter the maximum temperature criteria
max_temp = float(input("What is the maximum value for the max temperature you'd like?"))

What is the minimum value for the max temperature you'd like?75
What is the maximum value for the max temperature you'd like?90

## Create a new Pandas DataFrame by using the `loc` Pandas method to filter the `city_data_df` DataFrame for temperature criteria  collected.

In [7]:
# Filter the city_data_df DataFrame to find the cities that fit the criteria using the loc Pandas function
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] >= min_temp) & (city_data_df["Max Temp"] <= max_temp)].copy()
                                    
# Display sample data
preferred_cities_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Yulara,AU,-25.2406,130.9889,76.41,41,92,9.48,overcast clouds
1,1,Hasaki,JP,35.7333,140.8333,86.29,68,55,24.36,broken clouds
2,2,Butaritari,KI,3.0707,172.7902,82.09,71,49,14.29,scattered clouds
6,6,Lorengau,PG,-2.0226,147.2712,86.05,68,63,11.32,broken clouds
7,7,Tuy Hoa,VN,13.0833,109.3000,78.73,90,100,7.00,overcast clouds

## Create a new Pandas DataFrame named `clean_travel_cities` by using the Pandas `dropna` function on the `preferred_cities_df` to drop any empty rows.

In [9]:
# Drop any empty rows in the preferred_cities_df DataFrame and create a new DataFrame.
clean_travel_cities = preferred_cities_df.dropna().reset_index(drop=True)

# Display sample data
clean_travel_cities.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Yulara,AU,-25.2406,130.9889,76.41,41,92,9.48,overcast clouds
1,1,Hasaki,JP,35.7333,140.8333,86.29,68,55,24.36,broken clouds
2,2,Butaritari,KI,3.0707,172.7902,82.09,71,49,14.29,scattered clouds
3,6,Lorengau,PG,-2.0226,147.2712,86.05,68,63,11.32,broken clouds
4,7,Tuy Hoa,VN,13.0833,109.3000,78.73,90,100,7.00,overcast clouds
5,13,Saint-Philippe,RE,-21.3585,55.7679,76.59,77,39,13.94,scattered clouds
6,16,Hithadhoo,MV,-0.6000,73.0833,82.44,69,93,16.02,overcast clouds
7,18,Lawigan,PH,10.4870,122.0354,86.72,68,72,3.00,broken clouds
8,20,Phuket,TH,8.0000,98.2500,86.22,74,40,9.22,scattered clouds
9,25,Salalah,OM,17.0151,54.0924,78.89,78,75,2.30,broken clouds

## Use the `copy` Pandas function to create a new DataFrame, called `hotel_df`, by copying the following columns from the `clean_travel_cities` DataFrame: "City", "Country", "Max Temp", "Current Description", "Lat", "Lng".

In [10]:
# Create DataFrame called hotel_df by copying some columns from the clean_travel_cities DataFrame.
hotel_df = clean_travel_cities[["City", "Country", "Lat", "Lng", "Max Temp", "Current Description"]].copy()

# Display sample data
hotel_df.head(10)

             City Country      Lat       Lng  Max Temp Current Description
0          Yulara      AU -25.2406  130.9889     76.41     overcast clouds
1          Hasaki      JP  35.7333  140.8333     86.29       broken clouds
2      Butaritari      KI   3.0707  172.7902     82.09    scattered clouds
3        Lorengau      PG  -2.0226  147.2712     86.05       broken clouds
4         Tuy Hoa      VN  13.0833  109.3000     78.73     overcast clouds
5  Saint-Philippe      RE -21.3585   55.7679     76.59    scattered clouds
6       Hithadhoo      MV  -0.6000   73.0833     82.44     overcast clouds
7         Lawigan      PH  10.4870  122.0354     86.72       broken clouds
8          Phuket      TH   8.0000   98.2500     86.22    scattered clouds
9         Salalah      OM  17.0151   54.0924     78.89       broken clouds

## Add a new empty column named `Hotel Name` to the `hotel_df` DataFrame.

In [52]:
# Add a new empty column, "Hotel Name", to the hotel_df DataFrame
hotel_df["Hotel Name"] = ""

# Display sample data
hotel_df.head()

,City,Country,Lat,Lng,Max Temp,Current Description,Hotel Name
0,Yulara,AU,-25.2406,130.9889,76.41,overcast clouds,
1,Hasaki,JP,35.7333,140.8333,86.29,broken clouds,
2,Butaritari,KI,3.0707,172.7902,82.09,scattered clouds,
3,Lorengau,PG,-2.0226,147.2712,86.05,broken clouds,
4,Tuy Hoa,VN,13.0833,109.3000,78.73,overcast clouds,

## Review the hotel search parameters provided. These parameters are the same we used in this module; you'll use them to search for a hotel for each city.

In [12]:
# Review the parameters to search for a hotel
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

## Use a for loop to iterate through the `hotel_df` DataFrame, retrieve the latitude and longitude of each city to find the nearest hotel based on the search parameters provided, then add the hotel name to the `hotel_df` DataFrame. If a hotel isn't found, skip to the next city.

In [61]:
# Iterate through the hotel DataFrame 
for index, row in hotel_df.iterrows():
    # Fetch latitude and longitude from the DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    
    # Add the latitude and longitude as parameters to the params dictionary
    params["location"] = f"{lat},{lng}"
    
    # Set up the base URL for the Google Directions API to get JSON data
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # Make an API request and retrieve the JSON data from the hotel search
    hotels = requests.get(base_url, params).json()
    
    # Get the first hotel from the results and store the name, if a hotel isn't found skip the city
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        hotel_df.loc[index, "Hotel Name"] = None
        # when "Hotel Name" is left as the empty string, "", it does not count as a null value for 
        # pandas' dropna() function. so, we set it to a null value so it does work
        print(f"Hotel in {row['City']} not found... skipping.")

Hotel in Kidal not found... skipping.
Hotel in Ati not found... skipping.
Hotel in Puro not found... skipping.
Hotel in Bonfim not found... skipping.
Hotel in Katipunan not found... skipping.
Hotel in Umm Kaddadah not found... skipping.
Hotel in Goundam not found... skipping.
Hotel in Bukama not found... skipping.
Hotel in Gayéri not found... skipping.
Hotel in Taoudenni not found... skipping.
Hotel in Adrar not found... skipping.
Hotel in Beloha not found... skipping.
Hotel in Aitape not found... skipping.

In [63]:
# Display sample data
hotel_df.head(10)

,City,Country,Lat,Lng,Max Temp,Current Description,Hotel Name
0,Yulara,AU,-25.2406,130.9889,76.41,overcast clouds,Desert Gardens Hotel - Ayers Rock Resort
1,Hasaki,JP,35.7333,140.8333,86.29,broken clouds,Inubosaki Kanko Hotel
2,Butaritari,KI,3.0707,172.7902,82.09,scattered clouds,Isles Sunset Lodge
3,Lorengau,PG,-2.0226,147.2712,86.05,broken clouds,Lorengau Harbourside Hotel
4,Tuy Hoa,VN,13.0833,109.3000,78.73,overcast clouds,CenDeluxe Hotel Tuy Hoa
5,Saint-Philippe,RE,-21.3585,55.7679,76.59,scattered clouds,Le four à pain
6,Hithadhoo,MV,-0.6000,73.0833,82.44,overcast clouds,Scoop Guest House
7,Lawigan,PH,10.4870,122.0354,86.72,broken clouds,The Assemblage Point Resort and Convention Hub
8,Phuket,TH,8.0000,98.2500,86.22,scattered clouds,The Surin
9,Salalah,OM,17.0151,54.0924,78.89,broken clouds,"HAMDAN PLAZA HOTEL SALALAH, an HTG Hotel"

## Drop any rows in the `hotel_df` DataFrame where a hotel name is not found and store the resulting data into a new DataFrame named `clean_hotel_df`.

In [62]:
hotel_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 212 entries, 0 to 211
Data columns (total 7 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   City                 212 non-null    object
 1   Country              212 non-null    object
 2   Lat                  212 non-null    float64
 3   Lng                  212 non-null    float64
 4   Max Temp             212 non-null    float64
 5   Current Description  212 non-null    object
 6   Hotel Name           199 non-null    object
dtypes: float64(3), object(4)
memory usage: 11.7+ KB

In [65]:
# Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df.dropna().reset_index(drop=True)

# Display sample data
clean_hotel_df.tail(10)

,City,Country,Lat,Lng,Max Temp,Current Description,Hotel Name
189,Kawalu,ID,-7.3817,108.2082,79.03,overcast clouds,West Jontor
190,Manzanillo,CU,20.3433,-77.1167,75.69,overcast clouds,"HOSTAL ""THE YELLOW HOUSE"""
191,Amahai,ID,-3.3333,128.9167,83.26,light rain,HOTEL ISABELA
192,Oyama,JP,36.3000,139.8000,86.59,overcast clouds,Toyoko Inn Oyama-eki Higashi-guchi No.1
193,Teknāf,BD,20.8624,92.3058,87.39,overcast clouds,Forestry Guesthouse
194,Puerto Madero,MX,14.7208,-92.4215,75.40,scattered clouds,DEPARTAMENTOS LA ESTANCIA
195,Port Pirie,AU,-33.1833,138.0167,76.57,light rain,John Pirie Motor Inn
196,Altamira,BR,-3.2033,-52.2064,78.06,broken clouds,Requinte Hotel
197,Nouakchott,MR,18.0858,-15.9785,80.53,overcast clouds,HOTEL IMAN
198,Lethem,GY,3.3803,-59.7968,76.66,broken clouds,Savannah Inn

**Note:** If the resulting DataFrame is empty, uncomment the following code to load sample data into the `clean_hotel_df`.

In [ ]:
# In case of an empty DataFrame, load the sample data provided
# clean_hotel_df = pd.read_csv("WeatherPy_vacation-backup.csv")
# clean_hotel_df.head(10)

## Create an CSV file to store the `clean_hotel_df` DataFrame as `WeatherPy_vacation.csv` in the Vacation_Search folder.

In [66]:
# Set the file name.
output_data_file = "WeatherPy_vacation.csv"

# Create a CSV file by using the clean_hotel_df DataFrame
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

### Review the formatting template provided that you'll use to add an information box to each marker in the map.

In the pop-up for each city you'll add: 

1. The city name

2. The country code

3. The weather description and maximum temperature for the city

In [67]:
# Review the formatting template provided
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

## Review the provided list comprehension code to retrieve the city data from each row, which will then be added to the formatting template and saved in the `hotel_info` list.

In [68]:
# Get the data from each row in the clean_hotel_df DataFrame, add it to the formatting template, and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# Display sample data
hotel_info[:10]

['\n<dl>\n<dt>Hotel Name</dt><dd>Desert Gardens Hotel - Ayers Rock Resort</dd>\n<dt>City</dt><dd>Yulara</dd>\n<dt>Country</dt><dd>AU</dd>\n<dt>Current Weather</dt><dd>overcast clouds and 76.41 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Inubosaki Kanko Hotel</dd>\n<dt>City</dt><dd>Hasaki</dd>\n<dt>Country</dt><dd>JP</dd>\n<dt>Current Weather</dt><dd>broken clouds and 86.29 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Isles Sunset Lodge</dd>\n<dt>City</dt><dd>Butaritari</dd>\n<dt>Country</dt><dd>KI</dd>\n<dt>Current Weather</dt><dd>scattered clouds and 82.09 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Lorengau Harbourside Hotel</dd>\n<dt>City</dt><dd>Lorengau</dd>\n<dt>Country</dt><dd>PG</dd>\n<dt>Current Weather</dt><dd>broken clouds and 86.05 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>CenDeluxe Hotel Tuy Hoa</dd>\n<dt>City</dt><dd>Tuy Hoa</dd>\n<dt>Country</dt><dd>VN</dd>\n<dt>Current Weather</dt><dd>overcast clouds and 78.73 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Le four à pain</dd>\n<dt>City</dt><dd>Saint-Philippe</dd>\n<dt>Country</dt><dd>RE</dd>\n<dt>Current Weather</dt><dd>scattered clouds and 76.59 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Scoop Guest House</dd>\n<dt>City</dt><dd>Hithadhoo</dd>\n<dt>Country</dt><dd>MV</dd>\n<dt>Current Weather</dt><dd>overcast clouds and 82.44 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>The Assemblage Point Resort and Convention Hub</dd>\n<dt>City</dt><dd>Lawigan</dd>\n<dt>Country</dt><dd>PH</dd>\n<dt>Current Weather</dt><dd>broken clouds and 86.72 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>The Surin</dd>\n<dt>City</dt><dd>Phuket</dd>\n<dt>Country</dt><dd>TH</dd>\n<dt>Current Weather</dt><dd>scattered clouds and 86.22 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>HAMDAN PLAZA HOTEL SALALAH, an HTG Hotel</dd>\n<dt>City</dt><dd>Salalah</dd>\n<dt>Country</dt><dd>OM</dd>\n<dt>Current Weather</dt><dd>broken clouds and 78.89 °F</dd>\n</dl>\n']

## Use the provided code snippet to retrieve the latitude and longitude from each row and store them in a new DataFrame called `locations`.

In [69]:
# Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

# Display sample data
locations.head(10)

       Lat       Lng
0 -25.2406  130.9889
1  35.7333  140.8333
2   3.0707  172.7902
3  -2.0226  147.2712
4  13.0833  109.3000
5 -21.3585   55.7679
6  -0.6000   73.0833
7  10.4870  122.0354
8   8.0000   98.2500
9  17.0151   54.0924

## Refactor your previous marker layer map code to create a marker layer map that will have pop-up markers for each city on the map.

In [78]:
# create the figure
fig = gmaps.figure(center=(10.0, 35.0), zoom_level=1.9)

# Add a marker layer for each city to the map. 
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

# add the Google map as a layer
fig.add_layer(marker_layer)

# Display the figure containing the map
fig

Figure(layout=FigureLayout(height='420px'))